################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FoodBot/FoodBot/bin/Debug/netcoreapp3.1
/FoodBot/FoodBot/obj
/FoodBot/.vs/FoodBot
/FoodBot/FoodBot/appsettings.json
/FoodBot/FoodBot/bin/x64/Debug/netcoreapp3.1
/FoodBot/FoodBot/bin/Debug
/FoodBot/FoodBot.Dal/obj
/FoodBot/FoodBotAPI/bin/Debug/netcoreapp3.1
/FoodBot/FoodBotAPI/obj
/FoodBot/FoodBot.Dal/bin/Debug/netstandard2.0
/FoodBot/FoodBotAPI/FoodBot.db
/FoodBot/FoodBot/bin
/FoodBot/FoodBot.db
/FoodBot/FoodBot.Dal/bin/Release/netstandard2.0
/FoodBot/FoodBot/Properties/PublishProfiles
/FoodBot/FoodBot/FoodBot.csproj.user
