################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FoodBot/FoodBot/bin/Debug/netcoreapp3.1
/FoodBot/FoodBot/obj
/FoodBot/.vs/FoodBot
/FoodBot/FoodBot/appsettings.json
/FoodBot/FoodBot/bin/x64/Debug/netcoreapp3.1
/FoodBot/FoodBot/bin/Debug
